{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue dans ce blog !</h1>

    <p>Lorem ipsum dolor sit amet. Non cumque autem et quod dignissimos nam fugiat voluptas. Est maiores et voluptatem voluptate a
        accusamus illum aut laborum quisquam aut dolorem dolores in sapiente magnam et voluptate libero. Est dolorum rerum qui iure
        perspiciatis aut dolores nisi 33 voluptates ullam. Est aspernatur quia et totam praesentium aut enim nihil sunt repellat non rerum mollitia.</p>
    <p>Est voluptatem corporis qui architecto incidunt et itaque quia in quia alias et suscipit minus sit voluptates blanditiis non
        nihil illo. Aut accusantium fuga aut aliquid atque et deleniti nostrum aut corrupti possimus et dolor ullam quo veniam quibusdam et ipsa eius. Est sequi animi et magnam consequatur et rerum accusantium et error accusamus est perferendis maxime.</p>

{% endblock %}

